@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

input, label, button {
  font-family: 'Roboto Slab', serif;
}
label {
  color: #0A2738;
  margin-bottom: 0;
  margin-top: 0;
}

#signUp {
  background: url('imgs/signUpPageGraphic.jpg') no-repeat center center;
  height: 400px;
  width: 400px;
  background-size: contain;
}

p {
  margin-top: .5rem;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  margin-right: .5rem;
  margin-left: 1rem;
  transition: .25s;
}

a:hover {
  font-size: 1.6rem;
  color: #bbb;
  border-bottom: solid 1px #bbb;
}

.h-left {
  margin-left: 1rem;
  text-align: center;
  margin-bottom: .5rem;
}

#app-name {
  font-size: 4rem;
  font-weight: bold;
  color: dodgerblue;
}

#app-description {
  font-size: 2rem;
  color: #0A2738;
}

#header-login {
  color: dodgerblue;
}
#header-login:hover {
  color: #0A2738;
  border-bottom: solid 1px #0A2738;
}
#headerLogo {
  background: url('imgs/BPALogo.png') no-repeat center center;
  background-size: contain;
  width: 80px;
  height: 80px;
}

.hoverEffect{
  background-color: #0A2738;
}
.hoverEffect:hover {
  background-color: dodgerblue;
}
.studentLink:hover {
  border-bottom-style: none;
}
.studentLink2 {
  display: flex;
  justify-content: center;
  margin: 5rem 0 5rem;
  width: 200px;
}
.studentLink2:hover {
  font-size: 1.8rem;
}
.addStudentBtn {
  cursor: pointer;
  width: 100%;
  margin: 0 0 .5rem;
  transition: .25s;
}
.addStudentBtn:hover {
  font-size: 1.2rem;
  width: 90%;
}
.addStudentPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardText {
  color: black;
}
.cardText::before {
  content: '';
}
