@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #0A2738;
  
  background-color: white;
}

input, label, button {
  font-family: 'Roboto Slab', serif;
}
label {
  color: #0A2738;
  margin-bottom: 0;
  margin-top: 0;
}

#signUp {
  background: url('imgs/signUpPageGraphic.jpg') no-repeat center center;
  height: 400px;
  width: 400px;
  background-size: contain;
}

p {
  margin-top: .5rem;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  margin-right: .5rem;
  margin-left: 1rem;
  transition: .25s;
}

a:hover {
  font-size: 1.6rem;
  color: #bbb;
  border-bottom: solid 1px #bbb;
}

.h-left {
  margin-left: 1rem;
  text-align: center;
  margin-bottom: .5rem;
}

#app-name {
  font-size: 4.8rem;
  font-weight: bold;
  color: dodgerblue;
  margin: 0;
  padding: 0;
}

#app-description {
  font-size: 2.25rem;
  color: #0A2738;
  margin: 0;
  padding: 0;
}

#header-login {
  color: dodgerblue;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

#header-login:hover {
  color: #0A2738;
  border-bottom: solid 1px #0A2738;
}

#nav-link {
  font-size: 1.5rem;
  text-decoration: none;
}

#headerLogo {
  background: url('imgs/BPALogo.png') no-repeat center center;
  background-size: contain;
  width: 110px;
  height: 110px;
}

h1{
  font-size:3.5rem;
  border: none;
}

h2 {
  	font-size: 3.2rem;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 63px;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 1.6rem;
}

.hoverEffect{
  background-color: #0A2738;
}
.hoverEffect:hover {
  background-color: dodgerblue;
}
.studentLink:hover {
  border-bottom-style: none;
}
.studentLink2 {
  display: flex;
  justify-content: center;
  margin: 5rem 0 5rem;
  width: 200px;
}
.studentLink2:hover {
  font-size: 1.8rem;
}
.addStudentBtn {
  cursor: pointer;
  width: 100%;
  margin: 0 0 .5rem;
  transition: .25s;
}
.addStudentBtn:hover {
  font-size: 1.2rem;
  width: 90%;
}
.addStudentPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardText {
  color: black;
}
.cardText::before {
  content: '';
}

a {
	text-decoration:none;
	font-size:1.5rem;
	color:white;
}

.navLinksContainer {
  display: flex;
  width: 91%;
  justify-content: flex-end;
}

.goBack {
  color: dodgerblue;
  font-size: 1.5rem;
  text-decoration: underline;
}

.goBack:hover{
  color:#0A2738;
  cursor: pointer;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

.editDelContainer {
  margin: -30px 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.studentDetailsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentDetails {
  margin-top: -1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsSection {
  padding: 0 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
  
}

.projectsHeader {
  display: flex;
  flex-direction: column;
}

.projectsAddButton{
  display: flex;
  width: 100%;
  justify-content: center;
}

.projectsContainer{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 2% 0;
}

.project{
  width: 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 1%;
  background-color: #fafafa;
  border: solid rgb(196, 196, 196) 1px;
  box-shadow: 2px 2px #bebebe;
  border-radius: 5px;
}

.project:hover{
  cursor: pointer;
  box-shadow: 6px 6px #bebebe;
  transform: translateY(-2px) translateX(-2px);
}

.project:active{
  box-shadow: -2px -2px;
  transform: translateY(4px) translateX(4px);
}

.projectDetailLine{
  width: 100%;
  margin: 1%;
  display: flex;
  justify-content: center;
}

.projectDetailTitle{
  font-size: 3.6rem;
  margin-left: 1%;
  font-weight: bold;
}

.projectTitleLabel {
  color: #66889c;
  font-size: 4rem;
  font-weight: bold;
}

.projectLabel {
  color: #66889c;
  font-size: 2.5rem;
}

.projectNotes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notesSection{
  border: solid #66889c 1px;
  margin-top: 1%;
  padding: 1%;
  text-align: center;
  background-color: white;
  width: 80%;
  font-size: 1.6rem;
}

.editDeleteButtons{
  color: #66889c;
  background-color: white;
  margin: 1%;
  box-shadow: 2px 2px #bebebe;
}

.editDeleteButtons:hover {
  color: white;
  background-color: #66889c;
}

.editDeleteButtons2{
  color: #B90e0e;
  background-color: white;
  margin: 1%;
  box-shadow: 2px 2px #bebebe;
}

.editDeleteButtons2:hover{
  background-color: #b90e0e;
  color: white;
}